<article role="article">
  <div class="page-section">
    <div class="grid-row">
      <div class="column-two-thirds o-conditions">
        <h2 id="how-to-tell-if-you-have-indigestion-dyspepsia">How to tell if you have indigestion (dyspepsia)</h2>
        <p>You can have the following symptoms after eating or drinking:</p>
        <ul>
          <li>heartburn - a painful burning feeling in the chest, often after eating</li>
          <li>feeling full and bloated</li>
          <li>feeling sick</li>
          <li>belching and farting</li>
          <li>bringing up food or bitter tasting fluids</li>
        </ul>
        <h2 id="when-its-not-indigestion">When it’s not indigestion</h2>
        <p>Stomach ache or back pain are usually not symptoms of indigestion. If you have those you might be <a href="https://beta.nhs.uk/conditions/constipation">constipated</a>.</p>
        <h2 id="how-you-can-treat-indigestion-yourself">How you can treat indigestion yourself</h2>
        <p>There’s usually no need to see a GP about indigestion.</p>
        <p>Here are some things you can do at home:</p>
        <ul>
          <li>avoid rich, spicy or fatty foods</li>
          <li>cut down on tea, coffee, cola or alcohol</li>
          <li>don’t eat 3 to 4 hours before going to bed</li>
          <li>prop your head and shoulders up in bed - this can stop stomach acid coming up while you sleep</li>
          <li>don’t take ibuprofen or aspirin - this can make indigestion worse</li>
          <li>lose weight if you’re overweight</li>
          <li>give up smoking</li>
        </ul>
        <p>These things will also help prevent indigestion.</p>
        <h2 id="a-pharmacist-can-help-with-indigestion">A pharmacist can help with indigestion</h2>
        <p>A pharmacist can recommend medicines that’ll ease the burning feeling or pain that can come with indigestion.</p>
        <p>These medicines make your stomach less acidic. They’re called antacids.</p>
        <p>It’s best to take the medicine after eating. On a full stomach they’ll last up to 3 hours. On an empty stomach they’ll only last 20 minutes to an hour.</p>
<!--
        COMMENTED OUT FOR PROTOTYPE

        <section class="callout component-information find-a-service">
          <div class="reading-width">
            <p><a href="https://beta.nhs.uk/finders/find-help">Find a pharmacy</a></p>

          </div>
        </section>
-->
        <h2 id="pregnant-women-treating-indigestion">Pregnant women: treating indigestion</h2>
        <p>Pregnant women often get indigestion. It’s very common from 27 weeks onwards.</p>
        <p>It can be caused by hormonal changes and the growing baby pressing against the stomach.</p>
        <p>A pharmacist can help with uncomfortable feelings or pain. They can recommend the best medicines to use when you’re pregnant.</p>
        <section class="callout component-primary-care">
          <div class="reading-width">
            <h2>See a GP if you:</h2>
            <ul>
              <li>keep getting indigestion</li>
              <li>are in bad pain</li>
              <li>are 55 or older</li>
              <li>have lost a lot of weight without meaning to</li>
              <li>have difficulty swallowing (dysphagia)</li>
              <li>keep vomiting</li>
              <li>have <a href="https://beta.nhs.uk/conditions/iron-deficiency-anaemia">iron deficiency anaemia</a></li>
              <li>feel like you have a lump in your stomach</li>
              <li>have bloody vomit or poo</li>
            </ul>
            <p>These symptoms can be a sign of something more serious.</p>
          </div>
        </section>
        <h2 id="indigestion-heartburn-and-acid-reflux-whats-the-difference">Indigestion, heartburn and acid reflux - what’s the difference?</h2>
        <p>Heartburn and acid reflux are the same thing. It’s when acid from your stomach comes up your throat. You’ll have a burning feeling when this happens. This can be a symptom of indigestion.</p>
        <h2 id="what-causes-indigestion">What causes indigestion</h2>
        <p>The acid in your stomach can irritate the stomach lining or your throat. This causes indigestion and gives you a burning feeling and pain.</p>
        <p>Other things that can cause indigestion include:</p>
        <ul>
          <li>medicines</li>
          <li>smoking</li>
          <li>alcohol</li>
        </ul>
        <p>Stress can make indigestion worse.</p>
<!--
        COMMENTED OUT FOR PROTOTYPE

        <details class="" role="group">
          <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
            <span class="details__summary">Illnesses that can cause indigestion</span>
          </summary>
          <div class="details__content" id="details-content-0" aria-hidden="true">
            <div class="block-markdown">
              <ul>
                <li><a href="https://beta.nhs.uk/conditions/hiatus-hernia">Hiatus hernia</a></li>
                <li>Stomach ulcer</li>
                <li>Stomach cancer</li>
                <li>Helicobacter pylori infections</li>
                <li>Gastro-oesophageal disease (GORD)</li>
              </ul>
            </div>
          </div>
        </details>
-->
        <div class="callout component-muted">
          <div class="reading-width">
            <h2>Call 111</h2>
            <p>If you can’t speak to your GP or don’t know what to do next.</p>
          </div>
        </div>
      </div>
      <div class="column-one-third">
        {{> components/location-result
          title="Superdrug"
          title_url="#"
          address="39/43 Broadmead, Bristol BS1 3EU"
          telephone="0117 927 9928"
          status="Open"
          meta_status="Closes at 5:30pm"
          distance="0.2 miles away"
          distance_url="#"
        }}
      </div>
    </div>
  </div>

  <!-- <div id="notification-banner-float" class="notification-banner notification-banner--hiviz js-feedback-banner util-print-hide notification-banner-float" style="position: fixed; bottom: 0px;">
    <div class="notification-banner__inner">
      <span class="inner-banner-text">We are testing a new page.</span>

      <a href="https://survey.efmfeedback.com/se/705E3EF555E27279" onclick="document.querySelector('#notification-banner-float').style.visibility = 'hidden';" data-analytics="event" data-analytics-type="TellUsWhatYouThinkTop">Tell us what you think</a>      or go

      <a href="http://www.nhs.uk/conditions/Indigestion/Pages/Introduction.aspx?nobeta=true" data-analytics="external">back to the current site</a>.
    </div> -->

  </div>
</article>
