
:root {
  // Primary NHS blues
  // =================
  --color-blue: #005eb8;
  --color-blue-50: #76adda;
  --color-blue-10: #e6eff8;
  --color-dark-blue: #003087;
  --color-bright-blue: #0072ce;

  // NHS greyscale
  // =============
  // This is an 5 step greyscale
  // Uses NHS brand colours as a foundation for the first 2 steps
  // and adds three modified greys
  --color-black: #231f20;
  --color-grey-1: #425563;
  --color-grey-2: #768692;
  --color-grey-3: #aeb7bd;
  --color-grey-4: #d8dde0;
  --color-grey-5: #f0f4f5;
  --color-white: #fff;

  // Secondary colours
  // =================
  --color-dark-green: #006747;
  --color-green: #007f3b; // modified to comply with WCAG contrast with white
  --color-light-green: #78be20;

  --color-red: #da291c;
  --color-red-50: #e3968a;
  --color-red-10: #f5e6e4;

  --color-yellow: #ffb81c;
  --color-yellow-50: #fada8b;
  --color-yellow-10: #fdf2d5;


  // Semantic colour names
  // =====================
  --color-nhs-blue: var(--color-blue);
  --color-emergency-services-red: var(--color-red);

  --color-text: var(--color-black);

  --color-link: var(--color-blue);
  --color-link-reverse-polarity: var(--color-white);

  --color-link-visited: var(--color-dark-blue);
  --color-link-visited-reverse-polarity: var(--color-white);

  --color-link-hover: #4c92d9;
  --color-link-hover-reverse-polarity: #d4efff;

  --color-link-active: #4c92d9;
  --color-link-active-reverse-polarity: #d4efff;

  --color-focus: var(--color-yellow);
}
