$--layout-site-width: 960px;
$--layout-gutter: ($--global-spacing-unit * 8);
$--layout-gutter-half: ($--layout-gutter / 2);

// $--layout-breakpoint-sm: 480px;
// $--layout-breakpoint-md: 720px;
// $--layout-breakpoint-lg: 1024px;
// $--layout-breakpoint-xl: 1280px;

$--layout-breakpoint-md: 640px;
$--layout-breakpoint-lg: 935px;
