<header class="c-global-header {{#isHomepage}}c-global-header--hasHero{{/isHomepage}}">
  <div class="o-wrapper">
    <div class="c-global-header__logo">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="112px" height="44px" viewBox="0 0 112 44" version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g>
                  <rect fill="#FFFFFF" x="0" y="0" width="111.047619" height="44"></rect>
                  <path d="M104.513165,11.9994251 C102.649255,11.1195389 100.112502,10.34132 96.539967,10.34132 C92.7117225,10.34132 89.6068521,10.913123 89.6068521,13.8103394 C89.6068521,18.9356151 103.633277,17.0193362 103.633277,27.9951159 C103.633277,37.9862616 94.3679733,40.5735461 85.9813289,40.5735461 C82.2535162,40.5735461 77.956986,39.6936599 74.799134,38.7096411 L77.0801848,31.3612354 C78.9952324,32.602196 82.8234768,33.4309402 85.9813289,33.4309402 C88.9839098,33.4309402 93.6963517,32.8616018 93.6963517,29.1344086 C93.6963517,23.3350466 79.6656178,25.5094994 79.6656178,15.3113218 C79.6656178,5.99487917 87.8452317,3.1980981 95.7642121,3.1980981 C100.218479,3.1980981 104.411497,3.66268781 106.842274,4.80321251 M48.2466551,3.82042641 L57.9272502,3.82042641 L55.0793327,17.6422812 L66.5203175,17.6422812 L69.3663911,3.82042641 L79.0457556,3.82042641 L71.5408432,39.9536825 L61.8596279,39.9536825 L65.0717048,24.4749553 L53.6288762,24.4749553 L50.4223378,39.9536825 L40.7398947,39.9536825 M10.9297425,3.82042641 L22.9899763,3.82042641 L30.3944534,28.8737701 L30.4967373,28.8737701 L35.5677904,3.82042641 L44.6815139,3.82042641 L37.0200956,39.9536825 L25.0091551,39.9536825 L17.4512528,14.9496321 L17.3471208,14.9496321 L12.327209,39.9536825 L3.21471752,39.9536825" fill="#005EB8"></path>
              </g>
          </g>
      </svg>
    </div>
    {{#isHomepage}}
      <div class="c-hero">
        <p class="c-hero__lede">
          Welcome to the new NHS website. <label for="query">Search for health problems, medicines, NHS services, healthy living tips and more.</label>
        </p>
        <div class="c-home-search">
          <form action="https://nhs-admin.funnelback.co.uk/s/search.html" method="get">
            <input class="c-home-search__input" id="query" name="query" autofocus="" autocomplete="off" spellcheck="false"><button class="c-home-search__submit">Search</button>
          </form>
        </div>
      </div>
    {{/isHomepage}}
  </div>
</header>
