@import 'config';
@import 'tools';

// NHS font Frutiger
@import url("https://assets.nhs.uk/fonts/nhsuk-fonts-1.1.0.css");
@import url("https://beta.nhs.uk/static/beta/css/expo2017/fonts/frutiger-light.css");

@import 'base';

@import 'objects';

@import 'components';

@import 'scopes';

@import 'utils';

img {
  max-width: 100%;
}
