<div class="c-local-header">
  <div class="o-wrapper">
    <h1 class="c-local-header__title">{{ title }}</h1>
    {{#if text}}
    <div class="c-local-header__intro">
      <div class="reading-width">
        <p>{{ text }}</p>
      </div>
    </div>
    {{/if}}
  </div>
</div>
