<div class="c-location">
  <div class="c-location__address">
    <h3>Boots Pharmacy</h3>
    <p>42-44 Warwick Way, Lillington and Longmoore Gardens, London SW1V 1RY</p>
    <a href="tel:+442078348733">020 7834 8733</a>
  </div>

  <div class="c-location__info">
    <div class="c-location__status">Open now: 08:30 - 18:30</div>
    <!-- <div class="c-location__distance">0.4 mile</div> -->
  </div>
</div>
