<div class="c-local-header">
  <div class="o-wrapper">
    <h1 class="c-local-header__title u-reading-width">{{ title }}</h1>

    {{#if text}}
    <p class="c-local-header__intro u-reading-width">{{ text }}</p>
    {{/if}}
  </div>
</div>
