.c-button-link {
  border: 0;
  text-decoration: underline;
  color: $--color-nhs-blue;
  padding: 0;
  background: none;
  font-size: inherit;
  cursor: pointer;
}
.c-button-link:hover {
  color: $--color-link-hover;
}

.c-button-link--location {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgOWg5djloMWw4LTE4TDAgOCIgZmlsbD0iIzAwNUVCOCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 26px;
}
