.c-box {
  background-color: var(--color-blue-10);
  margin-right: calc(var(--layout-gutter) * -1);
  margin-bottom: calc(var(--global-spacing-unit) * 10);
  margin-left: calc(var(--layout-gutter) * -1);
  padding: var(--layout-gutter);
  box-sizing: border-box;

  &:after {
    content: '';
    display: block;
    border-bottom: 10px solid #cfddec;
    position: relative;
    bottom: calc((var(--layout-gutter) + 10px) * -1);
  }
}
