.c-content-bridge {
  background-color: $--color-blue-10;
  margin-right: ($--layout-gutter * -1);
  margin-bottom: ($--global-spacing-unit * 10);
  margin-left: ($--layout-gutter * -1);
  padding: $--layout-gutter;
  box-sizing: border-box;
  margin-top: -52px;


  &:after {
    content: '';
    display: block;
    border-bottom: 10px solid #cfddec;
    position: relative;
    bottom: (($--layout-gutter + 10px) * -1);
  }
}
