.c-callout {
  padding: ($--global-spacing-unit * 4);
  background-color: $--color-white;

  &:focus {
    outline: $--global-spacing-unit solid $--color-focus;
  }
}

.c-callout--muted {
  background-color: $--color-grey-4;
}

.c-callout--info {
  background-color: $--color-grey-5;
  border: solid $--color-grey-2;
  border-width: 0 0 0 $--global-spacing-unit;
}

.c-callout--attention {
  border: ($--global-spacing-unit * 2) solid $--color-bright-blue;
}

.c-callout--warning {
  background-color: $--color-yellow-10;
  border: solid $--color-yellow-50;
  border-width: $--global-spacing-unit 0;
}

.c-callout--alert {
  background-color: $--color-red-10;
  border-top: ($--global-spacing-unit * 2) solid $--color-red;
}

.c-callout--severe {
  background-color: $--color-red;
  color: $--color-white;

  a {
    @include link-reverse-polarity;
  }
}

.c-callout--error {
  border: $--global-spacing-unit solid $--color-red;
}

.c-callout--compact {
  display: inline-block;

  @include media(desktop) {
    padding: ($--global-spacing-unit * 4) ($--global-spacing-unit * 6);
  }
}
