.c-campaign {
  background: $--color-nhs-blue;
  color: $--color-white;
  margin-bottom: $--global-spacing-unit * 10;
  padding: $--global-spacing-unit * 6;
  display: flex;
}

.c-campaign__image {
  min-width: 50%;
  width: 50%;

  img {
    display: block;
  }
}

.c-campaign__info {
  margin-left: 26px;
}
