.c-campaign {
  background: $--color-nhs-blue;
  color: $--color-white;
  margin-bottom: $--global-spacing-unit * 10;
  padding: $--global-spacing-unit * 6;
}

.c-campaign__image {
  img {
    display: block;
  }
}

.c-campaign__content {
  margin-top: 24px;
  @include media(tablet) {
    margin-top: 0;
  }
}
