.c-card {
  background-color: $--color-grey-5;
  border: #D6DBDE 1px solid;
  height: 100%;
  margin-bottom: ($--global-spacing-unit * 10);
  padding: ($--global-spacing-unit * 3);
  position: relative;
}

.c-card__image {
  max-width: 100%;
}

.c-card__title {
  border-bottom: $--color-nhs-blue $--global-spacing-unit solid;
  margin-bottom: ($--global-spacing-unit * 3);
  padding-bottom: ($--global-spacing-unit * 2);
  padding-top: $--global-spacing-unit;
}
