// TODO: Add breakpoints

.c-faceted-search {
  background-color: $--color-blue-10;
  padding: ($--global-spacing-unit * 6);
}

.c-faceted-search__submit {
  padding-top: ($--global-spacing-unit * 10);

  input {
    width: 100%;
  }
}
