.c-heading--xl {
  font-size: 48px;
}

.c-heading--lg {
  font-size: 32px;
}

.c-heading--md {
  @include font(medium)
}

.c-heading--sm {
  font-size: 20px;
}

.c-heading--underline {
  border-bottom: 1px solid $--color-grey-3;
  padding-bottom: $--global-spacing-unit;
}
