.c-heading--xl {
  font-size: 48px;
}

.c-heading--lg {
  font-size: 36px;
}

.c-heading--md {
  font-size: 24px;
}

.c-heading--sm {
  font-size: 19px;
}

.c-heading--underline {
  border-bottom: 1px solid var(--color-grey-3);
  padding-bottom: var(--global-spacing-unit);
}
