.c-home-search {
  margin-bottom: ($--global-spacing-unit * 6);
}

.c-home-search__input {
  border: #ccc 1px solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 18px;
  padding: 18px;
  width: 80%;

  &:focus {
    // outline: $--global-spacing-unit solid $--color-focus;
  }
}

.c-home-search__submit {
  -webkit-appearance: none;
  background-color: #41B6E6;
  border: #41B6E6 1px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #013188;
  font-size: 18px;
  font-weight: bold;
  padding: 18px;
  // width: 100%;
  width: 20%;
}
