.c-service-finder {
  // background-color: $--color-blue-10;
  margin-bottom: ($--global-spacing-unit * 8);
}

.c-service-finder__options {
  padding: 0;
  border: 0;
  margin: 0;
}
.c-service-finder__option {
  display: block;
  float: left;
  padding: 16px 24px;
  color: $--color-nhs-blue;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    background-color: $--color-blue-10;
    color: $--color-link-hover;
  }
}
.c-service-finder__input {
  display: none;
}

.c-service-finder__input:checked + .c-service-finder__option {
  background-color: $--color-nhs-blue;
  color: $--color-white;
  text-decoration: none;
  position: relative;

  &:after { /* stylelint-disable-line selector-max-specificity */
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: -20px;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQwLjc4NyAwbC0yMCAyMC0yMC0yMGg0MHoiIGZpbGw9IiMwMDVFQjgiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
  }
}

.c-service-finder__search {
  background-color: $--color-blue-10;
  padding: 32px 24px;
}
