.c-text-field {
  font-size: 20px;
  line-height: 1.5;
  appearance: none;
  border: 1px solid $--color-grey-2;
  display: inline-block;
  max-width: 460px;
  padding: ($--global-spacing-unit * 2) ($--global-spacing-unit * 5);
  width: 100%;
  border-radius: $--global-spacing-unit;

  &:focus {
    border: 1px solid $--color-focus;
  }
}
