body {
  font-family: var(--global-font-stack);
  font-size: 1rem;
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
  // color: var(--body-color);
  // background-color: var(--body-bg);
  margin: 0;
}
