body {
  font-family: $--global-font-stack;
  font-size: 1rem;
  font-weight: $--base-font-weight;
  line-height: $--base-line-height;
  // color: $--body-color;
  // background-color: $--body-bg;
  margin: 0;
}
