{{> components/local-header
  title=title
  text="More complex page flow using server-side logic"
 }}

<form method="POST">
<fieldset>
  <legend>Which page next?</legend>
  <div class="multiple-choice__container">
    <label class="multiple-choice multiple-choice--radio">
      Homepage
      <input type=radio name=redirect value="/" class="multiple-choice__input">
    </label>
    <label class="multiple-choice multiple-choice--radio">
      Test prototype
      <input type=radio name=redirect value="test" class="multiple-choice__input">
    </label>
    <label class="multiple-choice multiple-choice--radio">
      A simpler page flow example
      <input type=radio name=redirect value="simple-page-flow" class="multiple-choice__input">
    </label>
  </div>
</fieldset>
<input class="button" type=submit value=Submit>
</form>

<hr>
<a href="/docs/guides/examples/complex-page-flow.md">View source</a>
