<h1>NHSUK Prototyping Kit</h1>
<h2>Example Prototypes</h2>
<ul>
  <li><a href="/examples/test">Test passing data to a template</a>
  <li><a href="/examples/simple-page-flow">Simple page flow based on user choice</a>
  <li><a href="/examples/complex-page-flow">Page flow based on user choice with server-side logic</a>
  <li><a href="/examples/postcode-search">Postcode search</a>
</ul>
