.o-layout {
  // margin: 0;
  // padding: 0;
  list-style: none;
  box-sizing: border-box;
  margin-right: ($--layout-gutter / -2);
  margin-left: ($--layout-gutter / -2);
  // width: 100%;
}

.o-layout:after {
  content: '';
  display: block;
  clear: both;
}

.o-layout__item {
  display: block;
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-right: ($--layout-gutter / 2);
  padding-left: ($--layout-gutter / 2);
}

@media only screen and (min-width : 720px) {
  .u-width-full { width: 100%; }

  .u-width-1\/2 { width: 50%; }

  .u-width-1\/3 { width: 33.33%; }
  .u-width-2\/3 { width: 66.66%; }

  .u-width-1\/4 { width: 25%; }
  .u-width-3\/4 { width: 75%; }
}

.o-layout--full {
  margin-right: 0;
  margin-left: 0;

  > .o-layout__item {
    padding-right: 0;
    padding-left: 0;
  }
}
