.o-wrapper {
  max-width: $--layout-site-width + ($--layout-gutter * 2);
  padding-right: $--layout-gutter / 2;
  padding-left: $--layout-gutter / 2;

  @media only screen and (min-width : 720px) {
    margin-right: auto;
    margin-left: auto;
    padding-right: $--layout-gutter;
    padding-left: $--layout-gutter;
  }
}
