<section class="nhsuk-component">
<h2 id="local-header">Local Header</h2>
{{> components/local-header
  title="Blisters"
  text="Blisters should heal on their own within a week. They can be painful while they heal, but you shouldn’t need to see a GP."
}}
<details>
  <summary>View Source</summary>
  <pre><code class="language-handlebars">{{{{raw-helper}}}}
{{> components/local-header
  title="Blisters"
  text="Blisters should heal on their own within a week. They can be painful while they heal, but you shouldn’t need to see a GP."
}}
  {{{{/raw-helper}}}}</code></pre>
</section>

<section class="nhsuk-component">
<h2 id="callouts">Callouts</h2>
{{> components/callout
  title="Blisters"
  text="Blisters should heal on their own within a week. They can be painful while they heal, but you shouldn’t need to see a GP."
  modifier="alert"
}}
<details>
  <summary>View Source</summary>
  <pre><code class="language-handlebars">{{{{raw-helper}}}}
{{> components/callout
  title="Blisters"
  text="Blisters should heal on their own within a week. They can be painful while they heal, but you shouldn’t need to see a GP."
  modifier="alert"
}}
  {{{{/raw-helper}}}}</code></pre>
</details>
</section>

<link rel="stylesheet" href="/docs/assets/prism.css">
<script src="/docs/assets/clipboard.min.js"></script>
<script src="/docs/assets/prism.min.js"></script>
