<section class="nhsuk-component">
<h2 id="local-header">Local Header<a href="/docs/guides/examples/components.md#local-header">View Source</a></h2>
{{> components/local-header
  title="Blisters"
  text="Blisters should heal on their own within a week. They can be painful while they heal, but you shouldn’t need to see a GP."
}}
</section>

<section class="nhsuk-component">
<h2 id="callouts">Callouts<a href="/docs/guides/examples/components.md#callouts">View Source</a></h2>
{{> components/callout
  title="Blisters"
  text="Blisters should heal on their own within a week. They can be painful while they heal, but you shouldn’t need to see a GP."
  modifier="alert"
}}
</section>

<style>
.nhsuk-component > h2 a {
  float: right;
  font-size: 50%;
}
</style>