<h1>NHSUK interface inventory</h1>
<p>This inventory shows the interface elements available within the Prototype Kit.</p>
<p><strong>Contents:</strong></p>
<ul>
  <li><a href="#typography">Typography</a></li>
  <li><a href="#panels">Panels</a></li>
  <li><a href="#lists">lists</a></li>
  <li><a href="#buttons">Buttons</a></li>
  <li><a href="#tables">Tables</a></li>
  <li><a href="#callouts">Callouts</a></li>
  <li><a href="#local-header">Local header</a></li>
  <li><a href="#notification-banner">Notification banner</a></li>
  <li><a href="#text-inputs">Text inputs</a></li>
  <li><a href="#radio-buttons">Radio buttons</a></li>
  <li><a href="#checkboxes">Checkboxes</a></li>
  <li><a href="#layout">Layout (grid)</a></li>
</ul>

<hr />

<section class="nhsuk-component">
  <h2 id="typography">Typography</h2>
  <h3>Headings</h3>
  <div class="example">
    <h1>Heading level 1</h1>
    <h2>Heading level 2</h2>
    <h3>Heading level 3</h3>
    <h4>Heading level 4</h4>
    <h5>Heading level 5</h5>
    <h6>Heading level 6</h6>
  </div>

  <h3>Body copy</h3>
  <div class="example">
    <p>A 20px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. </p>
    <p>Another body paragraph with <strong>strong</strong> text.</p>
  </div>

  <h3>Links</h3>
  <div class="example">
    <p><a href="#">A 19px link without surrounding text</a></p>
    <p><a href="#">A 19px body copy link</a>. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  </div>

  <h3>Hidden text (progressive disclosure)</h3>
  <div class="example">
    <details class="" role="group">
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
        <span class="details__summary">If you’re not sure it’s impetigo</span>
      </summary>
      <div id="details-content-0" aria-hidden="true">
        <p>Impetigo can look similar to other skin conditions.</p>
        <table>
          <thead>
            <tr>
              <th>Skin symptoms</th>
              <th>Possible cause</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Blisters on lips or around the mouth</td>
              <td><a href="http://www.nhs.uk/conditions/cold-sore/Pages/Introduction.aspx">cold sores</a></td>
            </tr>
            <tr>
              <td>Itchy, dry, cracked, sore</td>
              <td><a href="http://www.nhs.uk/conditions/eczema-(atopic)/Pages/Introduction.aspx">eczema</a></td>
            </tr>
            <tr>
              <td>Itchy blisters</td>
              <td>
                <a href="https://beta.nhs.uk/conditions/shingles">shingles</a>,
                <a href="http://www.nhs.uk/conditions/Chickenpox/Pages/Introduction.aspx">chickenpox</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>
  </div>
</section>

<hr />

<section class="nhsuk-component">
  <h2 id="panels">Panels</h2>
  <div class="example">
    <div class="panel">
      <h3 class="panel__header">Panel header</h3>
      <div class="panel__content">
        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>
      <div class="panel__footer">
        <p>Panel footer (supporting text)</p>
      </div>
    </div>

    <div class="panel">
      <div class="panel__content panel__content--half">
        <h3>Do</h3>
        <ul class="list--check">
          <li>wash your face and remove eye makeup before bed</li>
          <li>replace your eye makeup every 6 months</li>
          <li>
            <a href="#">keep your eyelids and eyelashes clean</a> - especially if you have blepharitis
          </li>
        </ul>
      </div>
      <div class="panel__content panel__content--half">
        <h3>Don’t</h3>
        <ul class="list--cross">
          <li>share towels or flannels with someone who has a stye</li>
          <li>rub your eyes if you haven’t recently washed your hands</li>
          <li>put contact lenses in before washing your hands</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<hr />

<section class="nhsuk-component">
  <h2 id="lists">Lists</h2>
  <div class="example">
    <ul>
      <li>A bulleted list</li>
      <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
      <li>vestibulum id ligula porta felis euismod semper</li>
      <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
    </ul>

    <ol>
      <li>A numbered list.</li>
      <li>This is the second step in a numbered list.</li>
      <li>The third step is to make sure each item is a full sentence ending with a full stop.</li>
    </ol>

    <ul class="list--chevron">
      <li>A list with chevrons</li>
      <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
      <li>vestibulum id ligula porta felis euismod semper</li>
      <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
    </ul>

    <ul class="list--check">
      <li>A list with ticks</li>
      <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
      <li>vestibulum id ligula porta felis euismod semper</li>
      <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
    </ul>

    <ul class="list--cross">
      <li>A list with crosses</li>
      <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
      <li>vestibulum id ligula porta felis euismod semper</li>
      <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
    </ul>
  </div>
</section>

<hr />

<section class="nhsuk-component">
  <h2 id="buttons">Buttons</h2>
  <div class="example">
    <button class="button">Button</button>
    <button class="button" disabled>Disabled button</button>
    <input class="button" type="submit"value="Submit">
    <br>
    <button class="button button--secondary">Secondary button</button>
    <a class="button button--cancel" href="#">Cancel</a>
  </div>
<section>

<hr />

<section class="nhsuk-component">
  <h2 id="tables">Tables</h2>
  <div class="example">
    <table>
      <caption>Standard table</caption>
      <thead>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Google</td>
            <td>Maria Anders</td>
            <td>Germany</td>
          </tr>
          <tr>
            <td>Apple</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>Tesla</td>
            <td>Roland Mendel</td>
            <td>Austria</td>
          </tr>
      </tbody>
    </table>

    <table class="table--two-column">
      <caption>Two column table</caption>
      <thead>
        <tr>
          <th>Company</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Google</td>
            <td>Germany</td>
          </tr>
          <tr>
            <td>Apple</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>Tesla</td>
            <td>Austria</td>
          </tr>
      </tbody>
    </table>
  </div>
<section>

<hr />

<section class="nhsuk-component">
  <h2 id="callouts">Callouts</h2>
  <div class="example">
    {{> components/callout
      title="Default"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier=""
    }}
    {{> components/callout
      title="Info"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="info"
    }}
    {{> components/callout
      title="Attention"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="attention"
    }}
    {{> components/callout
      title="Warning"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="warning"
    }}
    {{> components/callout
      title="Alert"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="alert"
    }}
    {{> components/callout
      title="Severe"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="severe"
    }}
    {{> components/callout
      title="Error"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="error"
    }}
    {{> components/callout
      title="Muted"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="muted"
    }}
    {{> components/callout
      title="Compact"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="compact"
    }}
  </div>
</section>

<hr />

<section class="nhsuk-component">
  <h2 id="local-header">Local Header</h2>
  <div class="example">
    {{> components/local-header
      title="Blisters"
      text="Blisters should heal on their own within a week. They can be painful while they heal, but you shouldn’t need to see a GP."
    }}
  </div>
</section>

<hr />

<section class="nhsuk-component">
  <h2 id="notification-banner">Notification banner</h2>
  <div class="example">
    <div class="notification-banner notification-banner--hiviz js-feedback-banner">
      <p class="notification-banner--inner">
          This is a new page. <a class="choices-profile-link" href="{{gp.choicesProfileLink}}">See the current version</a> on NHS Choices</a>.
      </p>
    </div>

    <div class="notification-banner notification-banner--hiviz js-feedback-banner">
      <p class="notification-banner--inner">
          This is a new service. <a href="http://www.nhs.uk/">Go back to NHS Choices</a>.
      </p>
    </div>
  </div>
</section>

<section class="nhsuk-component">
  <h2 id="text-inputs">Text inputs</h2>
  <div class="example">
    <div class="form-line">
      <label for="input-text" class="form-label">
        Label
      </label>
      <input
        type="text"
        name="input-text"
        id="input-text"
        class="form-textbox"
      >
    </div>

    <div class="form-line">
      <label for="input-with-support" class="form-label">
        Label
        <span class="form-label__hint" id="hintId">Supporting information</span>
      </label>
      <input
        type="text"
        name="input-with-support"
        id="input-with-support"
        class="form-textbox"
        aria-describedby="hintId"
      >
    </div>

    <div class="form-line">
      <label for="input-large-label" class="form-label form-label--large">
        Large label
      </label>
      <input
        type="text"
        name="input-large-label"
        id="input-large-label"
        class="form-textbox"
      >
    </div>

    <div class="form-line">
      <label for="input-textarea" class="form-label">
        Text area
      </label>
      <textarea rows=8 name="input-textarea" id="input-textarea"></textarea>
    </div>
  </div>
</section>

<section class="nhsuk-component">
  <h2 id="radio-buttons">Radio buttons</h2>
  <section>
    <h3>Vertically stacked</h3>
    <div class="example">
      <div class="multiple-choice__container">
        <label class="multiple-choice multiple-choice--radio">
          <input class="multiple-choice__input"
                 type=radio name=radio value=1>
          Choice 1
        </label>
        <label class="multiple-choice multiple-choice--radio">
          <input class="multiple-choice__input"
                 type=radio name=radio value=2>
          Choice 2
        </label>
        <label class="multiple-choice multiple-choice--radio">
          <input class="multiple-choice__input"
                 type=radio name=radio value=3>
          Choice 3
        </label>
      </div>
    </div>
  </section>
  <section>
    <h3>Inline</h3>
    <div class="example">
      <div class="multiple-choice__container">
        <label class="multiple-choice multiple-choice--inline multiple-choice--radio">
          <input class="multiple-choice__input"
                 type=radio name=radio value=1>
          Choice 1
        </label>
        <label class="multiple-choice multiple-choice--inline multiple-choice--radio">
          <input class="multiple-choice__input"
                 type=radio name=radio value=2>
          Choice 2
        </label>
        <label class="multiple-choice multiple-choice--inline multiple-choice--radio">
          <input class="multiple-choice__input"
                 type=radio name=radio value=3>
          Choice 3
        </label>
      </div>
    </div>
  </section>
</section>

<section class="nhsuk-component">
  <h2 id="checkboxes">Checkboxes</h2>
  <section>
    <h3>Vertically stacked</h3>
    <div class="example">
      <div class="multiple-choice__container">
        <label class="multiple-choice multiple-choice--checkbox">
          <input class="multiple-choice__input"
                 type=checkbox name=checks value=1>
          Choice 1
        </label>
        <label class="multiple-choice multiple-choice--checkbox">
          <input class="multiple-choice__input"
                 type=checkbox name=checks value=2>
          Choice 2
        </label>
        <label class="multiple-choice multiple-choice--checkbox">
          <input class="multiple-choice__input"
                 type=checkbox name=checks value=3>
          Choice 3
        </label>
      </div>
    </div>
  </section>
  </section>
  <section>
    <h3>Inline</h3>
    <div class="example">
      <div class="multiple-choice__container">
        <label class="multiple-choice multiple-choice--inline multiple-choice--checkbox">
          <input class="multiple-choice__input"
                 type=checkbox name=checks value=1>
          Choice 1
        </label>
        <label class="multiple-choice multiple-choice--inline multiple-choice--checkbox">
          <input class="multiple-choice__input"
                 type=checkbox name=checks value=2>
          Choice 2
        </label>
        <label class="multiple-choice multiple-choice--inline multiple-choice--checkbox">
          <input class="multiple-choice__input"
                 type=checkbox name=checks value=3>
          Choice 3
        </label>
      </div>
    </div>
  </section>
</section>

<section class="nhsuk-component">
  <h2 id="layout">Layout</h2>
  <div class="example">
    <div class="grid-row">
      <div class="column--two-thirds">
        <p><strong>Two thirds</strong></p>
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
        </div>
      </div>
      <div class="column--one-third">
        <p><strong>One third</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column--one-third">
        <p><strong>One third</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
      </div>
      <div class="column--one-third">
        <p><strong>One third</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
      </div>
      <div class="column--one-third">
        <p><strong>One third</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column--one-half">
        <p><strong>One half</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
      </div>
      <div class="column--one-half">
        <p><strong>One half</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column--one-half">
        <p><strong>One half</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
      </div>
      <div class="column--one-quarter">
        <p><strong>One quarter</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
      </div>
      <div class="column--one-quarter">
        <p><strong>One quarter</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column--one-quarter">
        <p><strong>One quarter</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
      </div>
      <div class="column--one-quarter">
        <p><strong>One quarter</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
      </div>
      <div class="column--one-quarter">
        <p><strong>One quarter</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
      </div>
      <div class="column--one-quarter">
        <p><strong>One quarter</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus mauris, mollis.</p>
      </div>
    </div>
</section>

<style>
  .example {
    position: relative;
    overflow: hidden;
    border: 1px solid #bfc1c3;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  @media (min-width: 641px) {
    .example {
      padding-top: 45px;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
    }
  }

  .example:before {
    content: "EXAMPLE";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.21053em 0.78947em 0.21053em 0.78947em;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    background: #bfc1c3;
    color: white;
  }

  @media (min-width: 641px) {
    .example:before {
      font-size: 14px;
      line-height: 1.42857;
    }
  }

  .example .highlight {
    font-style: normal;
    color: #0076c0;
  }

  /* work around font override inside code examples */
  html pre[class*='language-'] *, html code[class*='language-'] * {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  }
</style>

<link rel="stylesheet" href="/docs/assets/prism.css">
<script src="/docs/assets/prism.min.js"></script>

<script>
function createSourceView (el) {
  var source = el.innerHTML

  var codeBlock = document.createElement('code')
  codeBlock.classList.add('language-markup')
  codeBlock.appendChild(document.createTextNode(source))

  var sourceView = document.createElement('pre')
  sourceView.appendChild(codeBlock)

  el.insertAdjacentElement('afterend', sourceView)
}

Array.prototype.forEach.call(
  document.querySelectorAll('div.example'),
  createSourceView
)
</script>
