<h1>NHSUK interface inventory</h1>
<p>This inventory shows the interface elements available within the Prototype Kit.</p>
<section class="nhsuk-component">
  <h2 id="typography">Typography</h2>
  <h3>Headings</h3>
  <div class="example">
    <h1>Heading level 1</h1>
    <h2>Heading level 2</h2>
    <h3>Heading level 3</h3>
    <h4>Heading level 4</h4>
    <h5>Heading level 5</h5>
    <h6>Heading level 6</h6>
  </div>
</section>

<h3>Lists</h3>
<div class="example">
  <ul>
    <li>A bulleted list</li>
    <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
    <li>vestibulum id ligula porta felis euismod semper</li>
    <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
  </ul>

  <ol>
    <li>A numbered list.</li>
    <li>This is the second step in a numbered list.</li>
    <li>The third step is to make sure each item is a full sentence ending with a full stop.</li>
  </ol>

  <ul class="list--chevron">
    <li>A list with chevrons</li>
    <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
    <li>vestibulum id ligula porta felis euismod semper</li>
    <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
  </ul>

  <ul class="list--check">
    <li>A list with ticks</li>
    <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
    <li>vestibulum id ligula porta felis euismod semper</li>
    <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
  </ul>

  <ul class="list--cross">
    <li>A list with crosses</li>
    <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
    <li>vestibulum id ligula porta felis euismod semper</li>
    <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
  </ul>
</div>
<hr />

<section class="nhsuk-component">
  <h2 id="button">Buttons</h2>
  <div class="example">
    <button class="button">Button</button>
    <button class="button" disabled>Disabled button</button>
    <a class="button button--cancel" href="#">Cancel</a>
    <input type="submit" class="button" value="Submit">
  </div>
<section>

<hr />

<section class="nhsuk-component">
  <h2 id="local-header">Local Header<a href="/docs/guides/examples/components.md#local-header">View Source</a></h2>
  <div class="example">
    {{> components/local-header
      title="Blisters"
      text="Blisters should heal on their own within a week. They can be painful while they heal, but you shouldn’t need to see a GP."
    }}
  </div>
</section>

<hr />

<section class="nhsuk-component">
  <h2 id="callouts">Callouts<a href="/docs/guides/examples/components.md#callouts">View Source</a></h2>
  <div class="example">
    {{> components/callout
      title="Default"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier=""
    }}
    {{> components/callout
      title="Info"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="info"
    }}
    {{> components/callout
      title="Attention"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="attention"
    }}
    {{> components/callout
      title="Warning"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="warning"
    }}
    {{> components/callout
      title="Alert"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="alert"
    }}
    {{> components/callout
      title="Severe"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="severe"
    }}
    {{> components/callout
      title="Error"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="error"
    }}
    {{> components/callout
      title="Muted"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="muted"
    }}
    {{> components/callout
      title="Compact"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure."
      modifier="compact"
    }}
  </div>
</section>

<hr />

<style>
  .nhsuk-component>h2 a {
    float: right;
    font-size: 50%;
  }

  .example {
    position: relative;
    overflow: hidden;
    border: 1px solid #bfc1c3;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  @media (min-width: 641px) {
    .example {
      padding-top: 45px;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
    }
  }

  .example:before {
    content: "EXAMPLE";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.21053em 0.78947em 0.21053em 0.78947em;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    background: #bfc1c3;
    color: white;
  }

  @media (min-width: 641px) {
    .example:before {
      font-size: 14px;
      line-height: 1.42857;
    }
  }

  .example .highlight {
    font-style: normal;
    color: #0076c0;
  }
</style>
