

  {{#> components/content-bridge}}
    <div class="o-layout u-clearfix">
      <div class="o-layout__item u-width-1/2">
        <h2 class="c-heading c-heading--md c-heading--underline">Health A-Z</h2>

        <ul>
            <li>symptoms</li>
            <li>when to seek help</li>
            <li>treatments</li>
        </ul>

        <p>
            <a href="http://www.nhs.uk/Conditions/Pages/hub.aspx" class="arrow">Search the A-Z</a>
        </p>
      </div>
      <div class="o-layout__item u-width-1/2">
        <h2 class="c-heading c-heading--md c-heading--underline">Understand your medicines</h2>

        <ul>
            <li>side effects</li>
            <li>how they work</li>
            <li>how to take them</li>
        </ul>

        <p>
            <a href="http://beta.nhs.uk/medicines" class="arrow">Find a medicine</a>
        </p>
      </div>
    </div>
  {{/components/content-bridge}}

  <form class="c-service-finder">
    <fieldset class="c-service-finder__options">
      <legend hidden>Please select the option you would like</legend>

      <input class="c-service-finder__input" type="radio" id="find_pharmacy" name="find_service_type" checked>
      <label class="c-service-finder__option" for="find_pharmacy">Find a pharmacy</label>

      <input class="c-service-finder__input" type="radio" id="find_dentist" name="find_service_type">
      <label class="c-service-finder__option" for="find_dentist">Find a dentist</label>

      <input class="c-service-finder__input" type="radio" id="find_optician" name="find_service_type">
      <label class="c-service-finder__option" for="find_optician">Find a optician</label>

      <input class="c-service-finder__input" type="radio" id="find_gp" name="find_service_type">
      <label class="c-service-finder__option" for="find_gp">Find a GP</label>
    </fieldset>

    <div class="c-service-finder__search">
      <label for="find_service_search">Enter your location</label>
      <input class="c-text-field" id="find_service_search" type="text" name="find_service_search">
      <input class="c-btn c-btn--primary" type="submit" value="Find a service">
      <div class="">
        <button class="c-link" type="button">Use my location</button> - your browser will ask for permission
      </div>
    </div>


  </form>

  <div class="c-campaign">
    <div class="c-campaign__image">
        <img src="https://beta.nhs.uk/static/beta/images/expo2017/campaigns/supermeals.jpg" alt="Change4Life">
    </div>

    <div class="c-campaign__info">
        <h2 class="c-heading c-heading--md">Fun ideas to help your kids stay healthy</h2>
        <p>
            Recipes, activities and offers to help your family make healthier choices
        </p>
        <p>
            <a href="https://www.nhs.uk/change4life-beta/cards" class="c-link c-link--inverse c-link--arrow">Join Change4Life</a>
        </p>
    </div>

    <span class="ie-fix-clear"></span>
  </div>

  <div class="o-layout u-clearfix">
    <div class="o-layout__item u-width-1/3">
      {{> components/card
        title="BMI calculator"
        description="Use the BMI calculator to find out if you or your child's weight is healthy."
        link_url="http://www.nhs.uk/tools/pages/healthyweightcalculator.aspx"
        link_text="Go to BMI calculator"
        image_source= "https://beta-platform.service.nhs.uk/static/beta/images/expo2017/features/bmi-calculator.jpg"
        image_alt_text="BMI calculator"
      }}
    </div>
    <div class="o-layout__item u-width-1/3">

    </div>
    <div class="o-layout__item u-width-1/3">

    </div>
  </div>
