  {{#> components/content-bridge}}
    <div class="grid-row">
      <div class="column-one-half">
        <h2 class="c-heading c-heading--md c-heading--underline">Health A-Z</h2>
        <ul class="c-list-bullet">
            <li>symptoms and conditions</li>
            <li>when to seek help</li>
            <li>treatments</li>
        </ul>
        <p>
            <a href="http://www.nhs.uk/Conditions/Pages/hub.aspx" class="c-link c-link--arrow">Browse the A-Z</a>
        </p>
      </div>
      <div class="column-one-half">
        <h2 class="c-heading c-heading--md c-heading--underline">Understand your medicines</h2>
        <ul class="c-list-bullet">
            <li>side effects</li>
            <li>how they work</li>
            <li>how to take them</li>
        </ul>
        <p>
            <a href="http://beta.nhs.uk/medicines" class="c-link c-link--arrow">Find a medicine</a>
        </p>
      </div>
    </div>
  {{/components/content-bridge}}

  <form class="c-service-finder" action="service-finder">
    <fieldset class="c-service-finder__options">
      <legend hidden>Please select the option you would like</legend>

      <input class="c-service-finder__input" type="radio" id="find_pharmacy" name="find_service_type" value="pharmacy" checked>
      <label class="c-service-finder__option" for="find_pharmacy">Find a pharmacy</label>

      <input class="c-service-finder__input" type="radio" id="find_dentist" name="find_service_type" value="dentist">
      <label class="c-service-finder__option" for="find_dentist">Find a dentist</label>

      <input class="c-service-finder__input" type="radio" id="find_optician" name="find_service_type" value="optician">
      <label class="c-service-finder__option" for="find_optician">Find a optician</label>

      <input class="c-service-finder__input" type="radio" id="find_gp" name="find_service_type" value="doctor">
      <label class="c-service-finder__option" for="find_gp">Find a GP</label>
    </fieldset>

    <div class="c-service-finder__search">
      <label class="c-label" for="find_service_search">Enter your location</label>
      <div class="o-service-search">
        <div class="o-service-search__input">
          <input class="c-text-field" id="find_service_search" type="text" name="find_service_search" placeholder="Enter a postcode or town name"
                value="{{savedLocation}}">
        </div>
        <div class="o-service-search__submit">
          <input class="c-btn c-btn--primary" type="submit" value="Find a service">
        </div>
      </div>
      <div>
        <button id="use-my-location" class="c-button-link c-button-link--location" type="button">Use my location</button> - your browser will ask for permission
        <input type="hidden" id="latitude" name="lat" disabled>
        <input type="hidden" id="longitude" name="long" disabled>
      </div>
    </div>
  </form>


  <div class="c-campaign">
    <div class="grid-row">
      <div class="column-one-half c-campaign__image">
        <img src="https://beta.nhs.uk/static/beta/images/expo2017/campaigns/supermeals.jpg" alt="Change4Life supermeals">
      </div>
      <div class="column-one-half c-campaign__content">
        <h2 class="c-heading c-heading--md">Fun ideas to help your kids stay healthy</h2>
        <p>
            Recipes, activities and offers to help your family make healthier choices
        </p>
        <p>
            <a href="https://www.nhs.uk/change4life-beta/cards" class="c-link c-link--inverse c-link--arrow">Join Change4Life</a>
        </p>
      </div>
    </div>
  </div>

  <div class="flex-container">
    <div class="flex-item flex-item--one-third">
      {{> components/card
        title="BMI calculator"
        description="Use the BMI calculator to find out if you or your child's weight is healthy."
        link_url="http://www.nhs.uk/tools/pages/healthyweightcalculator.aspx"
        link_text="Go to BMI calculator"
        image_source= "https://beta.nhs.uk/static/beta/images/expo2017/features/bmi-calculator.jpg"
        image_alt_text="BMI calculator"
      }}
    </div>
    <div class="flex-item flex-item--one-third">
      {{> components/card
        title="Apps library"
        description="Find digital tools to help you manage and improve your health."
        link_url="https://apps.beta.nhs.uk/"
        link_text="See all apps"
        image_source= "https://beta-platform.service.nhs.uk/static/beta/images/expo2017/features/apps-library.jpg"
        image_alt_text="Apps library"
      }}
    </div>
    <div class="flex-item flex-item--one-third">
      {{> components/card
        title="NHS jobs"
        description="Find out ways to join the NHS."
        link_url="https://www.jobs.nhs.uk/"
        link_text="See all jobs"
        image_source= "https://beta.nhs.uk/static/beta/images/expo2017/features/jobs.jpg"
        image_alt_text="NHS jobs"
      }}
    </div>
  </div>

<script>
var elLatitude = document.getElementById('latitude')
var elLongitude = document.getElementById('longitude')
var elManualLocation = document.getElementById('find_service_search')

// set up the "Use my location" button
document.getElementById('use-my-location').addEventListener('click', useMyLocation)

// set up a change handler on the manual location to disable automatic
// location if a new manual location is entered
elManualLocation.addEventListener('change', unsetMyLocation)

function useMyLocation () {
  if ('geolocation' in navigator) {
    navigator.geolocation.getCurrentPosition(setMyLocation)
  }
}

function setMyLocation (position) {
  elLatitude.value = position.coords.latitude
  elLatitude.disabled = false

  elLongitude.value = position.coords.longitude
  elLongitude.disabled = false

  // use the manual location input to indicate that the user's current location
  // is being used, and
  elManualLocation.value = 'my location'
}

function unsetMyLocation () {
  elLatitude.value = ''
  elLatitude.disabled = true

  elLongitude.value = ''
  elLongitude.disabled = true
}
</script>
