<h1>{{title}}</h1>
<p>Welcome to the {{title}}</p>

{{> components/local_header
  title='Blisters'
  text='Blisters should heal on their own within a week. They can be painful while they heal, but you shouldn’t need to see a GP.'
}}
