<h1 class="c-heading c-heading--xl">NHSUK prototyping kit</h1>

<p>Welcome to the NHS prototyping kit, to get started simply add a <code>.hbs</code> file to the <code>`app/views`</code> directory</p>

{{#if showDocumentation}}
<p><a href="/docs/guides/index.md">Documentation</a></p>
<p><a href="/components">UI Library</a></p>
<p><a href="/examples/index">Example Prototypes</a></p>
{{/if}}
