<!-- <h1>{{title}}</h1>
<p>Welcome to the {{title}}</p> -->

<!-- {{> components/local_header
  title='Blisters'
  text='Blisters should heal on their own within a week. They can be painful while they heal, but you shouldn’t need to see a GP.'
}} -->

<div class="o-wrapper">
<div class="c-box">
  <div class="o-layout u-clearfix">
    <div class="o-layout__item u-width-1/2">
      <h2 class="c-heading c-heading--md c-heading--underline">Health A-Z</h2>

      <ul>
          <li>symptoms</li>
          <li>when to seek help</li>
          <li>treatments</li>
      </ul>

      <p>
          <a href="http://www.nhs.uk/Conditions/Pages/hub.aspx" class="arrow">Search the A-Z</a>
      </p>
    </div>
    <div class="o-layout__item u-width-1/2">
      <h2 class="c-heading c-heading--md c-heading--underline">Understand your medicines</h2>

      <ul>
          <li>side effects</li>
          <li>how they work</li>
          <li>how to take them</li>
      </ul>

      <p>
          <a href="http://beta.nhs.uk/medicines" class="arrow">Find a medicine</a>
      </p>
    </div>
  </div>
</div>
</div>


<div class="two-column-grid">
                        <div>
                            <h2 class="underline">Health A-Z</h2>

                            <ul>
                                <li>symptoms</li>
                                <li>when to seek help</li>
                                <li>treatments</li>
                            </ul>

                            <p>
                                <a href="http://www.nhs.uk/Conditions/Pages/hub.aspx" class="arrow">Search the A-Z</a>
                            </p>
                        </div>

                        <div>
                            <h2 class="underline">Understand your medicines</h2>

                            <ul>
                                <li>side effects</li>
                                <li>how they work</li>
                                <li>how to take them</li>
                            </ul>

                            <p>
                                <a href="http://beta.nhs.uk/medicines" class="arrow">Find a medicine</a>
                            </p>
                        </div>

                        <span class="ie-fix-clear"></span>
                    </div>
