<!DOCTYPE html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="apple-touch-icon" href="icon.png"> -->

  <link rel="stylesheet" href="/stylesheets/nhsuk.css">
</head>

<body>
  {{> global_header }}

  <div class="o-wrapper">
    {{{body}}}
  </div>

  {{> global_footer }}
</body>

</html>
