<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/nhsuk.css' />
</head>

<body>
  {{> global_header }}

  {{{body}}}

  {{> global_footer }}
</body>

</html>
